<!DOCTYPE html>
<html>
  <head>
    <title>RailsInterview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="prose prose:slate lg:prose-xl">
      <div class="antialiased text-gray-900 px-6">
        <div class="max-w-xl mx-auto py-12 divide-y md:max-w-4xl">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
